In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

In [0]:
schema = ['id','Name','age','salary','country','dept']

emp_df = spark.createDataFrame(data=emp_data, schema=schema)

In [0]:
#When we use count it shows all 10 columns including null values  
#Count as an action
emp_df.count()

Out[3]: 10

In [0]:
#When we select a particular column it shows without 

emp_df.select(count('name'))

Out[9]: DataFrame[count(name): bigint]

In [0]:
#Count as an transformation which is lazily evaluated 
emp_df.select(count('id'))

Out[11]: DataFrame[count(id): bigint]

In [0]:
# Using sum, max and min and aliasing it to our required column names
emp_df.select(sum('salary').alias("sum_salary"),max('salary').alias("max_salary"),min('salary').alias("min_salary")).show()

+----------+----------+----------+
|sum_salary|max_salary|min_salary|
+----------+----------+----------+
|    560000|    200000|     20000|
+----------+----------+----------+

In [0]:
#Using max min and count
emp_df.select(max("salary"),min("salary"),count("salary")).show()

+-----------+-----------+-------------+
|max(salary)|min(salary)|count(salary)|
+-----------+-----------+-------------+
|     200000|      20000|            8|
+-----------+-----------+-------------+