In [0]:
# Importing necessary functions and reading the table
from pyspark.sql.functions import *
from pyspark.sql.functions import *

employee_df = spark.read.format('csv')\
                .option('header','true')\
                .option('inferschema','true')\
                .load('/FileStore/tables/employee_data-5.csv')

In [0]:
#Shhowing the table
employee_df.show()

+---+--------+---+------+-------+------+
| id|    name|age|salary|address|gender|
+---+--------+---+------+-------+------+
|  1|  Manish| 26| 75000|  INDIA|     m|
|  2|  Nikita| 23|100000|    USA|     f|
|  3|  Pritam| 22|150000|  INDIA|     m|
|  4|Prantosh| 17|200000|  JAPAN|     m|
|  5|  Vikash| 31|300000|    USA|     m|
|  6|   Rahul| 55|300000|  INDIA|     m|
|  7|    Raju| 67|540000|    USA|     m|
|  8| Praveen| 28| 70000|  JAPAN|     m|
|  9|     Dev| 32|150000|  JAPAN|     m|
| 10|  Sherin| 16| 25000| RUSSIA|     f|
| 11|    Ragu| 12| 35000|  INDIA|     f|
| 12|   Sweta| 43|200000|  INDIA|     f|
| 13| Raushan| 48|650000|    USA|     m|
| 14|  Mukesh| 36| 95000| RUSSIA|     m|
| 15| Prakash| 52|750000|  INDIA|     m|
+---+--------+---+------+-------+------+

In [0]:
#Showing the schema
employee_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- gender: string (nullable = true)

In [0]:
#Selecting with string method
employee_df.select("name").show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
|   Rahul|
|    Raju|
| Praveen|
|     Dev|
|  Sherin|
|    Ragu|
|   Sweta|
| Raushan|
|  Mukesh|
| Prakash|
+--------+

In [0]:
#Selecting columns explicitely 
employee_df.select(col("name")).show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
|   Rahul|
|    Raju|
| Praveen|
|     Dev|
|  Sherin|
|    Ragu|
|   Sweta|
| Raushan|
|  Mukesh|
| Prakash|
+--------+

In [0]:
#We get an AnalysisException error as it just checks if we have the id+5 column or not and does not actually add 5 to the id columm
employee_df.select("id+5").show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-1672672895292363>:1
----> 1 employee_df.select("id+5").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `id+5` cannot be resolved. Did you mean one of the following? [`id`, `address`, `age`, `gender`, `name`].;
'Project ['id+5]
+- Relation [id#178,name#179,age#180,salary#181,address#182,gender#183] csv

In [0]:
#Thats why we need the column method to show id +5
employee_df.select(col("id") + 5).show()

+--------+
|(id + 5)|
+--------+
|       6|
|       7|
|       8|
|       9|
|      10|
|      11|
|      12|
|      13|
|      14|
|      15|
|      16|
|      17|
|      18|
|      19|
|      20|
+--------+

In [0]:
#Selecting multiple columns by string method
employee_df.select("name","age","id").show()

+--------+---+---+
|    name|age| id|
+--------+---+---+
|  Manish| 26|  1|
|  Nikita| 23|  2|
|  Pritam| 22|  3|
|Prantosh| 17|  4|
|  Vikash| 31|  5|
|   Rahul| 55|  6|
|    Raju| 67|  7|
| Praveen| 28|  8|
|     Dev| 32|  9|
|  Sherin| 16| 10|
|    Ragu| 12| 11|
|   Sweta| 43| 12|
| Raushan| 48| 13|
|  Mukesh| 36| 14|
| Prakash| 52| 15|
+--------+---+---+

In [0]:
#Using all the ways to select a column in a single statement 
employee_df.select("name", col("id"), employee_df["salary"], employee_df.address).show()

+--------+---+------+-------+
|    name| id|salary|address|
+--------+---+------+-------+
|  Manish|  1| 75000|  INDIA|
|  Nikita|  2|100000|    USA|
|  Pritam|  3|150000|  INDIA|
|Prantosh|  4|200000|  JAPAN|
|  Vikash|  5|300000|    USA|
|   Rahul|  6|300000|  INDIA|
|    Raju|  7|540000|    USA|
| Praveen|  8| 70000|  JAPAN|
|     Dev|  9|150000|  JAPAN|
|  Sherin| 10| 25000| RUSSIA|
|    Ragu| 11| 35000|  INDIA|
|   Sweta| 12|200000|  INDIA|
| Raushan| 13|650000|    USA|
|  Mukesh| 14| 95000| RUSSIA|
| Prakash| 15|750000|  INDIA|
+--------+---+------+-------+

Expressions

In [0]:
#SOlving the above string method error using expr function which identifies and converts it into columns
employee_df.select(expr("id")+ 5).show()

+--------+
|(id + 5)|
+--------+
|       6|
|       7|
|       8|
|       9|
|      10|
|      11|
|      12|
|      13|
|      14|
|      15|
|      16|
|      17|
|      18|
|      19|
|      20|
+--------+

In [0]:
#Using SQL commands in spark using expr
employee_df.select(expr("id as employee_id"),expr("name as emplyee_name"), expr("concat (name, address)")).show()

+-----------+------------+---------------------+
|employee_id|emplyee_name|concat(name, address)|
+-----------+------------+---------------------+
|          1|      Manish|          ManishINDIA|
|          2|      Nikita|            NikitaUSA|
|          3|      Pritam|          PritamINDIA|
|          4|    Prantosh|        PrantoshJAPAN|
|          5|      Vikash|            VikashUSA|
|          6|       Rahul|           RahulINDIA|
|          7|        Raju|              RajuUSA|
|          8|     Praveen|         PraveenJAPAN|
|          9|         Dev|             DevJAPAN|
|         10|      Sherin|         SherinRUSSIA|
|         11|        Ragu|            RaguINDIA|
|         12|       Sweta|           SwetaINDIA|
|         13|     Raushan|           RaushanUSA|
|         14|      Mukesh|         MukeshRUSSIA|
|         15|     Prakash|         PrakashINDIA|
+-----------+------------+---------------------+