In [0]:
data = [(1,'manish',50000,'IT'),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')]

In [0]:
schema = ['id','name','salary','department']

dept_df = spark.createDataFrame(data = data, schema = schema)

In [0]:

from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
# Usinbg group by function for a single column
dept_df.groupBy("department")\
        .agg(sum("salary")).show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|        IT|     295000|
|     sales|     150000|
| marketing|     220000|
+----------+-----------+

In [0]:
# Creating a new temporary table for Spark SQL
dept_df.createTempView("table")

In [0]:
#Using group By function in Spark SQL. Note - dont use single or double quotation in column names while using spark sql function. 
spark.sql("""
          select department, sum(salary)
          from table 
          group by(department)
          """).show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|        IT|     295000|
|     sales|     150000|
| marketing|     220000|
+----------+-----------+