In [0]:
# Read an Json file in Spark 
spark.read.format("json")\
        .option("inferSchema", "true") \
        .option("mode", "PERMISSIVE") \
        .load("/FileStore/tables/employee_data-2.json").show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [0]:
# Read an Json file with just 1 value for the gender column.
spark.read.format("json")\
        .option("inferSchema", "true") \
        .option("mode", "PERMISSIVE") \
        .load("/FileStore/tables/employee_data_updated-2.json").show()
# Output - The DataFrame displays 5 rows of data where 'gender' is null for the first four rows

+---+------+--------+------+
|age|gender|    name|salary|
+---+------+--------+------+
| 20|  null|  Manish| 20000|
| 25|  null|  Nikita| 21000|
| 16|  null|  Pritam| 22000|
| 35|  null|Prantosh| 25000|
| 67|     M|  Vikash| 40000|
+---+------+--------+------+

In [0]:
spark.read. format ("json")\
    .option("inferSchema", "true") \
    .option("mode", "PERMISSIVE") \
    .load("/FileStore/tables/employee_data_updated-2.json").show()

+---+------+--------+------+
|age|gender|    name|salary|
+---+------+--------+------+
| 20|  null|  Manish| 20000|
| 25|  null|  Nikita| 21000|
| 16|  null|  Pritam| 22000|
| 35|  null|Prantosh| 25000|
| 67|     M|  Vikash| 40000|
+---+------+--------+------+