In [0]:
#Creating a Dataframe
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(18 ,'Sam',75000,   17),
(18 , 'Sam',65000, 17)]

schema = ['id','name','salary','age']

manager_df = spark.createDataFrame( data = data, schema = schema)

In [0]:
#Showing a DataFrame
manager_df.show()

+---+------+-----+---+
| id|  name|  sal|age|
+---+------+-----+---+
| 10|  Anil|50000| 18|
| 11| Vikas|75000| 16|
| 12| Nisha|40000| 18|
| 13| Nidhi|60000| 17|
| 14| Priya|80000| 18|
| 15| Mohit|45000| 18|
| 16|Rajesh|90000| 10|
| 17| Raman|55000| 16|
| 18|   Sam|65000| 17|
+---+------+-----+---+

In [0]:
#We have a total of 9 records
manager_df.count()

Out[5]: 9

In [0]:
#Create a second dataframe
datal=[(19, 'Sohan', 50000, 18),
(20 , 'Sima',75000, 17)]
schemal=['id', 'Name', 'sal','mngr_id']
manager_df1= spark.createDataFrame(data=datal, schema=schemal)

In [0]:
manager_df1.show()

+---+-----+-----+-------+
| id| Name|  sal|mngr_id|
+---+-----+-----+-------+
| 19|Sohan|50000|     18|
| 20| Sima|75000|     17|
+---+-----+-----+-------+

In [0]:
#Union of two dataframes 
manager_df.union(manager_df1).show()

+---+------+-----+---+
| id|  name|  sal|age|
+---+------+-----+---+
| 10|  Anil|50000| 18|
| 11| Vikas|75000| 16|
| 12| Nisha|40000| 18|
| 13| Nidhi|60000| 17|
| 14| Priya|80000| 18|
| 15| Mohit|45000| 18|
| 16|Rajesh|90000| 10|
| 17| Raman|55000| 16|
| 18|   Sam|65000| 17|
| 18|   Sam|75000| 17|
| 18|   Sam|85000| 17|
| 19| Sohan|50000| 18|
| 20|  Sima|75000| 17|
+---+------+-----+---+

In [0]:
#Count the number of records 
manager_df.union(manager_df1).count()

Out[22]: 13

In [0]:
#Using UnionAll of two dataframes 
manager_df.unionAll(manager_df1).show()

+---+------+-----+---+
| id|  name|  sal|age|
+---+------+-----+---+
| 10|  Anil|50000| 18|
| 11| Vikas|75000| 16|
| 12| Nisha|40000| 18|
| 13| Nidhi|60000| 17|
| 14| Priya|80000| 18|
| 15| Mohit|45000| 18|
| 16|Rajesh|90000| 10|
| 17| Raman|55000| 16|
| 18|   Sam|65000| 17|
| 18|   Sam|75000| 17|
| 18|   Sam|85000| 17|
| 19| Sohan|50000| 18|
| 20|  Sima|75000| 17|
+---+------+-----+---+

In [0]:
manager_df.unionAll(manager_df1).count()

Out[25]: 13

In [0]:
#Therefore Union and UnionAll work the same in Data frames

In [0]:
#In Spark SQL Union drops the duplicate values
# To get all the records we use Union ALL

In [0]:
manager_df1.createOrReplaceTempView ("manager_df1_tbl")
manager_df.createOrReplaceTempView("manager_df_tbl")

In [0]:
# 1 record less as it dropped the duplicate record which was same as the other
spark.sql("""
          select * from manager_df1_tbl
          union
          select * from manager_df_tbl         

          """).count()

Out[34]: 12

In [0]:
#Got all 13 records using union all
spark.sql("""
    select * from manager_df1_tbl
    union all
    select * from manager_df_tbl 
    """).count()

Out[39]: 13

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_schema = ['id','salary','age','name']
wrong_manager_df = spark.createDataFrame(data = wrong_column_data, schema= wrong_schema)

In [0]:
# USing union with different column names 
manager_df1.union(wrong_manager_df).show()

+---+-----+-----+-------+
| id| Name|  sal|mngr_id|
+---+-----+-----+-------+
| 19|Sohan|50000|     18|
| 20| Sima|75000|     17|
| 19|50000|   18|  Sohan|
| 20|75000|   17|   Sima|
+---+-----+-----+-------+

In [0]:
manager_df1.unionByName(wrong_manager_df).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-984734492876606>:1
----> 1 manager_df1.unionByName(wrong_manager_df).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3738, in DataFrame.unionByName(self, other, allowMissingColumns)
   3682 def unionByName(self, other: "DataFrame", allowMissingColumns: bool = False) -> "DataFrame":
   3683     """Returns a new :class:`DataFrame` containing union of rows in this and another
   3684     :class:`DataFrame`.
   3685
   (...)
   3736     +----+----+----+----+
   3737     """
-> 3738     return DataFrame(self._jdf.unionByName(other._jdf, allowMissingColumns), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Cannot resolve column name "sal" among (id, salary, age, name).

In [0]:
# Use the select statement to solve the above error by just selecting the required columns leving out the extra columns 
wrong_manager_df. select('id', 'sal', 'mngr_id', 'Name').union.(manager_df1).Show()