In [0]:
#Creating new data frame
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(15 ,'Mohit',45000,  18),
(13 ,'Nidhi',60000,  17),      
(14 ,'Priya',90000,  18),  
(18 ,'Sam',65000,   17)
]
                                            

schema = ['id', 'Name', 'salary', 'age']

manager_df = spark.createDataFrame(data = data, schema = schema)

In [0]:
manager_df.show()

+---+------+------+---+
| id|  Name|salary|age|
+---+------+------+---+
| 10|  Anil| 50000| 18|
| 11| Vikas| 75000| 16|
| 12| Nisha| 40000| 18|
| 13| Nidhi| 60000| 17|
| 14| Priya| 80000| 18|
| 15| Mohit| 45000| 18|
| 16|Rajesh| 90000| 10|
| 17| Raman| 55000| 16|
| 18|   Sam| 65000| 17|
| 15| Mohit| 45000| 18|
| 13| Nidhi| 60000| 17|
| 14| Priya| 90000| 18|
| 18|   Sam| 65000| 17|
+---+------+------+---+

In [0]:
# Here we will get the distinct values in the whole dataframe 
manager_df.distinct().show()

+---+------+------+---+
| id|  Name|salary|age|
+---+------+------+---+
| 10|  Anil| 50000| 18|
| 12| Nisha| 40000| 18|
| 11| Vikas| 75000| 16|
| 13| Nidhi| 60000| 17|
| 15| Mohit| 45000| 18|
| 14| Priya| 80000| 18|
| 16|Rajesh| 90000| 10|
| 17| Raman| 55000| 16|
| 18|   Sam| 65000| 17|
| 14| Priya| 90000| 18|
+---+------+------+---+

In [0]:
#Cannot select multiple columns like this in distinct as we get this error 
manager_df.distinct("id","name").show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-138074763950063>:1
----> 1 manager_df.distinct("name","age").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: distinct() takes 1 positional argument but 3 were given

In [0]:
#Instead use this method in which you select the colummns first before using distinct
manager_df.select("id","name").distinct().show()

+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 15| Mohit|
| 14| Priya|
| 17| Raman|
| 16|Rajesh|
| 18|   Sam|
+---+------+

In [0]:
#dropping the duplicate values and assigning it to a new dataframe
dropped_manager_df = manager_df.drop_duplicates(["id","name","salary","age"])

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
#Sortring based on the salary column 
manager_df.sort(col("salary")).show()

+---+------+------+---+
| id|  Name|salary|age|
+---+------+------+---+
| 12| Nisha| 40000| 18|
| 15| Mohit| 45000| 18|
| 15| Mohit| 45000| 18|
| 10|  Anil| 50000| 18|
| 17| Raman| 55000| 16|
| 13| Nidhi| 60000| 17|
| 13| Nidhi| 60000| 17|
| 18|   Sam| 65000| 17|
| 18|   Sam| 65000| 17|
| 11| Vikas| 75000| 16|
| 14| Priya| 80000| 18|
| 14| Priya| 90000| 18|
| 16|Rajesh| 90000| 10|
+---+------+------+---+

In [0]:
#Srting in an desc order based on 2 columns 
manager_df.sort(col("salary").desc(),col("name").desc()).show()

+---+------+------+---+
| id|  Name|salary|age|
+---+------+------+---+
| 16|Rajesh| 90000| 10|
| 14| Priya| 90000| 18|
| 14| Priya| 80000| 18|
| 11| Vikas| 75000| 16|
| 18|   Sam| 65000| 17|
| 18|   Sam| 65000| 17|
| 13| Nidhi| 60000| 17|
| 13| Nidhi| 60000| 17|
| 17| Raman| 55000| 16|
| 10|  Anil| 50000| 18|
| 15| Mohit| 45000| 18|
| 15| Mohit| 45000| 18|
| 12| Nisha| 40000| 18|
+---+------+------+---+